<!doctype html>
<html lang="en">
    <head>
        <base href="/">
        <link href="/app.css" rel="stylesheet" />

        <!-- build:js /app.js -->

        <!-- bower -->
        <script src="/bower_components/angular/angular.js"></script>
        <!-- endbower -->

        <!-- appcode -->
        <script src="/Financeservice.js"></script>
        <script src="/modules.js"></script>
        <script src="/app.js"></script>
        <!--
            script src="/app.js"></script -->
        <!-- endappcode -->

        <!-- endbuild -->

    </head>
    <body ng-app="testapp" ng-include="'/app.html'"></body>
</html>